@model Channel6.WebUI.Models.ArticleListViewModel
@{
    ViewBag.Title = "Index";
    var username = User.Identity.Name;
}

<h2>Articles</h2>

<ul>
    @foreach (var item in Model.Articles)
    {
        <li>
            <a href="@Url.Action("Show","Article")/@item.ArticleId"><h3>@item.Title</h3></a>
            <p>@item.Summary</p>
        </li>
    }
</ul>